################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpsLogix.IMP.Url.ConfigurationControl/bin/Debug
